// typography.scss

$default-family: 'Roboto Variable', sans-serif;

:root {
  --font-h1:           normal  400   1rem       / 1.2rem     #{$default-family};
  --font-h1-bold:      normal  600   1rem       / 1.2rem     #{$default-family};

  --font-h2:           normal  400   1rem       / 1.1rem     #{$default-family};
  --font-h2-bold:      normal  600   1rem       / 1.1rem     #{$default-family};

  --font-text:         normal  400   .875rem    / 1rem       #{$default-family};
  --font-text-bold:    normal  600   .875rem    / 1rem       #{$default-family};

  --font-subtext:      normal  400   .875rem    / 1rem       #{$default-family};
  --font-subtext-bold: normal  600   .875rem    / 1rem       #{$default-family};

  --font-subtitle:     normal  400   .75rem     / 1rem       #{$default-family};
}

// Typography utility classes
.h1 {
  font: var(--font-h1);
}
.h1-bold {
  font: var(--font-h1-bold);
}

.h2 {
  font: var(--font-h2);
}
.h2-bold {
  font: var(--font-h2-bold);
}

.text {
  font: var(--font-text);
}
.text-bold {
  font: var(--font-text-bold);
}

.subtext {
  font: var(--font-subtext);
}
.subtext-bold {
  font: var(--font-subtext-bold);
}

.subtitle {
  font: var(--font-subtitle);
}
